@model Art.Models.IndexViewModel

@{
  Layout = "~/Views/Shared/_Admin/_Layout.cshtml";
  ViewData["Title"] = "Slayt İşlemleri";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-lg-6">
          <h1>@ViewData["Title"]</h1>
        </div>
        <div class="col-lg-6 text-right">
          <a  href="/admin/slide/add"class="btn btn-success">
            <i class="fas fa-add"></i>Ekle
          </a>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <!-- /.card-header -->
            <div class="card-body">
              @if (Model.Slides != null)
              {
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>SN</th>
                      <th>Resim</th>
                      <th>Baslik</th>
                      <th>Durum</th>
                      <th>Islemler</th>
                    </tr>
                  </thead>
                  <tbody>
                    @foreach (var item in Model.Slides)
                    {
                      <tr>
                        <td>@item.Id</td>
                        <td>@item.Order</td>
                        <td><img src="~/uploads/images/@item.Image" alt="" width="100"></td>
                        <td>
                          <a href="@item.Url" target="@item.Target">@item.Title</a>
                        </td>
                        <td>
                          <div class="form-group">
                            <div class="custom-control custom-switch">
                              <input type="checkbox" class="custom-control-input" data-type="slide"  data-id="@item.Id" id="@item.Id"
                              @(item.Isview == true ? "checked" : "")>
                              <label class="custom-control-label" for="@item.Id"></label>
                            </div>
                          </div>
                        </td>
                        <td>
                          <a href="/admin/slide/detay/@item.Id" class="btn btn-app bg-info">
                            <i class="fas fa-circle-info"></i>Detay
                          </a>
                          <a href="/admin/slide/edit/@item.Id" class="btn btn-app bg-purple">
                            <i class="fas fa-edit"></i>Duzenle
                          </a>
                          <a  href="/admin/slide/delete/@item.Id"class="btn btn-app bg-danger">
                            <i class="fas fa-trash"></i>Sil
                          </a>
                        </td>
                      </tr>
                    }
                  </tbody>
                  <tfoot>
                    <tr>
                      <th>Id</th>
                      <th>SN</th>
                      <th>Resim</th>
                      <th>Baslik</th>
                      <th>Durum</th>
                      <th>Islemler</th>
                    </tr>
                  </tfoot>
                </table>
              }
              else
              {
                <span class="text-center"> Kayit Bulunamadi</span>
              }
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>