@model Art.Models.IndexViewModel
@{
	var action = ViewContext.RouteData.Values["action"]!.ToString();
	TempData["Url"] = ViewContext.HttpContext.Request.Path.ToString();
}


<nav class="colorlib-nav" role="navigation">
	<div class="top-menu">
		<div class="container">
			<div class="row">
				<div class="col-xs-2">
					<div id="colorlib-logo"><a href="/">
							<img src="~/uploads/images/@Model.Site!.Logo" alt="" srcset="">
						</a></div>
				</div>
				<div class="col-xs-10 text-right menu-1">
					<ul>
						<li class='@(action=="Index" || action==""?"active" : "")'><a href="/">Ana Sayfa</a></li>
						<li class='has-dropdown @(action=="WorkCat"||action=="Work"|| action=="WorkDetail "?"active" : "")'>
							<a href="/workcat">Eserler</a>
							@if (Model.Workcats != null)
							{
								<ul class="dropdown">
									@foreach (var item in Model.Workcats)
									{
										<li><a href="/workcat/@Methods.GenerateUrl(item.Title!)/@item.Id">@item.Title</a></li>
									}

								</ul>
							}

						</li>
						<li class='@(action=="Event" || action=="EventDetail "?"active" : "")'><a href="/event">Sergi ve
								Etkinlikler</a></li>
						<li class='@(action=="Blog" || action=="BlogDetail "?"active" : "")'><a href="/blog">Blog</a>
						</li>
						<li class='@(action=="About" ?"active" : "")'><a href="/about">Hakkimida</a></li>
						<li class='@(action=="Contact"?"active" : "")'><a href="/contact">Iletisim</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</nav>