@model Art.Models.IndexViewModel

@{
    var action = ViewContext.RouteData.Values["action"]!.ToString();   
    TempData["Url"] = ViewContext.HttpContext.Request.Path.ToString();
}

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/admin" class="brand-link">
    <img src="/uploads/images/@Model.Site!.Favicon" alt="AdminLTE Logo"
      class="brand-image img-circle elevation-3 bg-light p-1" style="opacity: .8">
    <span class="brand-text font-weight-light">Admin Panel</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">@Model.User!.Name[0]</div>
      <div class="info">
        <a href="#" class="d-block">@Model.User.Name</a>
      </div>
      <div class="icon">
        <a href="/admin/signout"><i class="fa-solid fa-right-from-bracket"></i></a>
      </div>
    </div>



    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

        <li class="nav-item">
          <a href="/admin" class='nav-link @(action=="Index" || action==""?"active":"")'>
            <i class="nav-icon fas fa-home"></i>
            <p>
              Ana Sayfa
            </p>
          </a>
        </li>
        <li class="nav-header">AYARLAR</li>
        <li class='nav-item @(action=="Logo" || action=="Favicon" || action=="Slide" || action=="Favicon" || action=="Setting" || action=="Contact" || action=="Smtp"?"menu-open":"")'>
          <a href="#" class='nav-link @(action=="Logo" || action=="Favicon" || action=="Slide" || action=="Favicon" || action=="Setting" || action=="Contact" || action=="Smtp"?"active":"")'>
            <i class="nav-icon fas fa-gear"></i>
            <p>
              Ayarlar
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/admin/logo" class='nav-link @(action=="Logo" ?"active":"")'>
                <i class="far fa-circle nav-icon"></i>
                <p>Logo Değiştir</p>
              </a>
            </li>

            <li class="nav-item">
              <a href="/admin/favicon" class='nav-link @(action=="Favicon" ?"active":"")'>
                <i class="far fa-circle nav-icon"></i>
                <p>Favicon Değiştir</p>
              </a>
            </li>

            <li class="nav-item">
              <a href="/admin/slide" class='nav-link @(action=="Slide" ?"active":"")'>
                <i class="far fa-circle nav-icon"></i>
                <p>Slayt İşlemleri</p>
              </a>
            </li>

            <li class="nav-item">
              <a href="/admin/setting" class='nav-link @(action=="Setting" ?"active":"")'>
                <i class="far fa-circle nav-icon"></i>
                <p>Genel Ayarlar</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/contact" class='nav-link @(action=="Contact" ?"active":"")'>
                <i class="far fa-circle nav-icon"></i>
                <p>İletişim Ayarları</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/smtp" class='nav-link @(action=="Smtp" ?"active":"")'>
                <i class="far fa-circle nav-icon"></i>
                <p>SMTP Ayarları</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-header">SAYFALAR</li>
        <li class="nav-item ">
          <a href="#" class="nav-link">
            <i class="nav-icon fa-solid fa-briefcase"></i>
            <p>
              Eserler
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/admin/workcat" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Kategori İşlemleri</p>
              </a>
            </li>

            <li class="nav-item">
              <a href="/admin/work" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Eser İşlemleri</p>
              </a>
            </li>

          </ul>
         </li>
        <li class="nav-item">
          <a href="/admin/event" class="nav-link">
            <i class="fa-solid fa-calendar-days nav-icon"></i>
            <p>Sergi ve Etkinlikler</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="/admin/blog" class="nav-link">
            <i class="fa-solid fa-rss nav-icon"></i>
            <p>Blog</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="/admin/about" class="nav-link">
           <i class="fa-solid fa-address-card nav-icon"></i>
            <p>Hakkımda</p>
          </a>
        </li>

         <li class="nav-item">
          <a href="/admin/message" class="nav-link">
          <i class="fa-solid fa-message nav-icon"></i>
            <p>İletişim Formu</p>
          </a>
        </li>
       <li class="nav-header">ÇIKIŞ</li>

        <li class="nav-item">
          <a href="/admin/signout" class="nav-link">
          <i class="fa-solid fa-right-from-bracket nav-icon"></i>
            <p>Güvenli Çıkış</p>
          </a>
        </li>



        @* <li class="nav-item menu-open">
        <a href="#" class="nav-link active">
        <i class="nav-icon fas fa-tachometer-alt"></i>
        <p>
        Dashboard
        <i class="right fas fa-angle-left"></i>
        </p>
        </a>
        <ul class="nav nav-treeview">
        <li class="nav-item">
        <a href="./index.html" class="nav-link">
        <i class="far fa-circle nav-icon"></i>
        <p>Dashboard v1</p>
        </a>
        </li>
        <li class="nav-item">
        <a href="./index2.html" class="nav-link">
        <i class="far fa-circle nav-icon"></i>
        <p>Dashboard v2</p>
        </a>
        </li>
        <li class="nav-item">
        <a href="./index3.html" class="nav-link active">
        <i class="far fa-circle nav-icon"></i>
        <p>Dashboard v3</p>
        </a>
        </li>
        </ul>
        </li>
        *@



      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>