@model Art.Models.IndexViewModel
@{
    ViewData["Title"] = "Hakkımda";
}

@{await Html.RenderPartialAsync("_Breadcrumbs");}

        <div id="colorlib-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img class="img-responsive" src="~/uploads/images/@Model.About!.Image" alt="">
                    </div>
                    <div class="col-md-6">
                        @Html.Raw(Model.About.Detail)
                            <ul class="colorlib-social-icons">
                                <li><a href="@Model.Site.Instagram" target="blank"><i class="fa-brands fa-square-instagram"></i></a></li>
                                <li><a href="@Model.Site.Facebook" target="blank"><i class="fa-brands fa-facebook"></i></a></li>
                                <li><a href="@Model.Site.Twitter" target="blank"><i class="fa-brands fa-twitter"></i></a></li>
                                <li><a href="@Model.Site.Youtube" target="blank"><i class="fa-brands fa-youtube"></i></a></li>
                                <li><a href="@Model.Site.Linkedin" target="blank"><i class="fa-brands fa-linkedin"></i></a></li>
                                
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
